# npm and yarn
node_modules/
coverage/
npm-debug.*
*.log

# macOS
.DS_Store

# @react-native-community/bob
dist/

# expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
__generated__/